.DS_Store
 node_modules
 #dist

vendor
storage/*.key
public/storage
env

#yash/Practice/Live/Express/Auth1/node_modules



#yash/laravel
# yash/laravel/laravelvuejs/vendor/
# yash/laravel/laravelvuejs/node_modules/
# yash/laravel/laravelvuejs/npm-debug.log
# yash/laravel/laravelvuejs/yarn-error.log
# yash/laravel/laravelvuejs/storage/*.key
# yash/laravel/laravelvuejs/.env

# yash/laravel/laravel-event-example


# yash/laravel/ecommerce-app/node_modules
# yash/laravel/ecommerce-app/public/hot
# yash/laravel/ecommerce-app/public/storage
# yash/laravel/ecommerce-app/storage/*.key
# yash/laravel/ecommerce-app/vendor
# yash/laravel/ecommerce-app/.env
# yash/laravel/ecommerce-app/.env.backup
# yash/laravel/ecommerce-app/.phpunit.result.cache
# yash/laravel/ecommerce-app/docker-compose.override.yml
# yash/laravel/ecommerce-app/Homestead.json
# yash/laravel/ecommerce-app/Homestead.yaml
# yash/laravel/ecommerce-app/npm-debug.log
# yash/laravel/ecommerce-app/yarn-error.log
# yash/laravel/ecommerce-app/.idea
# yash/laravel/ecommerce-app/.vscode





# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
