.DS_Store
yash/vue/practice/node_modules
yash/vue/practice/dist

yash/Portfolio/node_modules

yash/Practice/Live/Express/Auth1/node_modules
yash/Practice/Live/Express/Authsystem/node_modules
yash/Practice/Live/Express/CloudinaryFileUpload/node_modules
yash/Practice/Live/Express/FirstProject/node_modules
yash/Practice/Live/React/React/node_modules


#yash/laravel
yash/laravel/laravelvuejs/vendor/
yash/laravel/laravelvuejs/node_modules/
yash/laravel/laravelvuejs/npm-debug.log
yash/laravel/laravelvuejs/yarn-error.log
yash/laravel/laravelvuejs/storage/*.key
yash/laravel/laravelvuejs/.env

yash/laravel/laravel-event-example





# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
